# PCDS Git best practices Nov 2022. 
# https://confluence.slac.stanford.edu/x/X__bDQ
_Boot
_Libraries
_CompileInfo
*.suo
*~
*.tpy
*.bak
*.~u
*.csv
*.svd
*.dbg
TrialLicense.tclrs
*.library
*.tmcRefac
.pytmc_build

# Added for Rubin camera shutter.
*.sln
